.fontOpensans {
  font-family: "Open Sans", sans-serif;
}
.fontOrbitron {
  font-family: "Orbitron", sans-serif;
}
.fontRaleway {
  font-family: "Raleway", sans-serif;
}
.fontRoboto {
  font-family: "Roboto", sans-serif;
}
.fz_14 {
  font-size: 14px;
}
.fz_24 {
  font-size: 24px;
}
.fz_36 {
  font-size: 36px;
}
.fz_72 {
  font-size: 72px;
}
.listStyle_none {
  list-style: none;
}
.textDecoration_none {
  text-decoration: none !important;
}
.indexBannerImg {
  height: 300px;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
}
.indexBannerImg_1 {
  background: url(https://images.unsplash.com/photo-1502343019212-cc6a09783255?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)
    no-repeat;
}
.indexBannerImg_2 {
  background: url(https://images.unsplash.com/photo-1501516069922-a9982bd6f3bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)
    no-repeat;
}
.indexBannerImg_3 {
  background: url(https://images.unsplash.com/photo-1581085271555-d32ebe05933a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2690&q=80)
    no-repeat;
}
